@font-face {
  font-family: "Acma";
  src: url("../../assets/fonts/Acma-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Avenir-Next-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$size-0: 3.75rem; //60px
$size-1: 2.5rem; //40px
$size-2: 2rem; //32px;
$size-3: 1.5rem; //24px;
$size-4: 1.25rem; //20px;
$size-5: 1.125rem; //18px
$size-6: 1rem; //16px
$size-7: .875rem; //14px

$ff-heading: "Acma", serif;
$ff-body: "Avenir Next", sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;

$clr-primary-200: hsla(169, 70%, 95%, 1);
$clr-primary-300: hsla(169, 100%, 39%, 1);
$clr-primary-400: hsla(169, 100%, 26%, 1);
$clr-primary-500: hsla(169, 100%, 16%, 1);

$clr-neutral-100: hsla(0, 0%, 100%, 1);
$clr-neutral-200: #F2EFDA;
$clr-neutral-300: hsla(0, 0%, 50%, 1);
$clr-neutral-400: hsla(0, 0%, 40%, 1);
$clr-neutral-500: hsla(0, 0%, 60%, 1);
$clr-neutral-500: hsla(0, 0%, 60%, 1);
$clr-neutral-800: #242424;
$clr-neutral-900: hsla(0, 0%, 10%, 1);

@media (min-width: 35em) {
  $fs-300: 1rem;
  $fs-400: 1.125rem;
  $fs-500: 1.5rem;
  $fs-600: 2.25rem;
  $fs-700: 3rem;
}