---
layout: base.njk
title: 404 - Page not found
eleventyExcludeFromCollections: true
permalink: 404.html
---

<section class="hero">
	<div class="hero-body">
		<div class="container">
			<figure class="image container is-144x144 mb-6">
				<img src="/images/404.svg" alt="404 error" />
			</figure>
			<h1 class="title is-1">Severe 404 warning</h1>

			<div class="content">
				<p>We're sorry, but the page you're looking for can't be found.</p>
				<p class="is-size-4">Maybe you'd like to visit the <a href="/">homepage</a> instead or take a look at the <a href="/solutions">features page</a>. If you want to get in touch with us, just drop us an email at <a href="mailto:team@gearset.com">team@gearset.com</a> and we'll get back to you as soon as the weather clears.</p>
			</div>
		</div>
	</div>
</section>