---
layout: base.njk 
title: Example
---

<div class="container">
  <ul role="list" class="articles__list flow">
    {% for recipe in collections.recipe %}
    <li><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></li>
    {% endfor %}  
  </ul>
</div>
