---
layout: base.njk 
title: Home
---
<article id="section-home">
	<div class="text">
		<h1>Stefan's <span>Recipes</span></h1>

		<div class="content">
			<h2 class="subtitle">A collection of recipes and macros. Oh and a meal plan randomiser thrown in there too.</h2>
		</div>
	</div>
</article>
