---
layout: base.njk
title: Macros
---

<div class="container">
    <h1>Macros</h1>
    <ul role="list" class="articles__list flow">
    {% for items in collections.macro %}
        <li>
            {{items.data.title}}: (
            {% for macros in items.data.macronutrient %}
                {{ macros.macro }}: {{ macros.amount }}
            {% endfor %})
        </li>
    {% endfor %}  
    </ul>
</div>
