---
layout: base.njk
title: Recipes
---

<div class="container is-max-desktop">
    <h1>Recipes</h1>

    <h2 class="title">Breakfasts</h2>
    <div class="columns">
    {% for recipe in collections.recipe %}
        {% if recipe.data.mealType === 'breakfast' %}
        <div class="column is-one-third">
            {% include "recipe-card.njk" %}
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <h2 class="title">Dinners</h2>
    <div class="columns">
    {% for recipe in collections.recipe %}
        {% if recipe.data.mealType === 'dinner' %}
        <div class="column">
            {% include "recipe-card.njk" %}
        </div>
        {% endif %}
    {% endfor %}
    </div> 

    <h2 class="title">High Protein</h2>
    <div class="columns">
    {% for recipe in collections.recipe %}
        {% if recipe.data.mealType === 'high protein' %}
        <div class="column">
            {% include "recipe-card.njk" %}
        </div>
        {% endif %}
    {% endfor %}
    </div> 
</div>
