<nav class="nav">
  <ul role="list">
    <li>
      {# <a {% if page.fileSlug === '' %}aria-current="page"{% endif %} href="/"> #}
      <a class="is-active" href="#section-home">
        Home
      </a>
    </li>
    <li>
      {# <a {% if page.fileSlug === 'recipes' %}aria-current="page"{% endif %} href="/recipes/"> #}
      <a href="#section-recipes">
        Recipes 
      </a>
    </li>
    <li>
      <a href="#section-macros">
        Macros
      </a>
    </li>
    <li>
      <a href="#section-randomiser">
        Randomiser
      </a>
    </li>
  </ul>
</nav>