@use '../abstracts/variables' as *;

/* //////////////////////
  Footer
  /////////////////////// */

  .site-footer {
    --logo-color: currentColor;
    padding: 2em 0;
    color: $clr-neutral-100;
    background-color: $clr-primary-500;
    text-align: center;
  }