@use '../abstracts/variables' as *;

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: $ff-body;
  font-size: $size-6;
  color: $clr-neutral-900;
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

.content {
  max-width: 670px;
  margin-inline: auto;
}