---
layout: base.njk
pageClass: article
---
<div id="progress-bar"></div>
<article class="article">
  <div class="container container--narrow flow">
    
      <h1 class="article-title">{{ title }}</h1>
      <h5>Written by {{author}}</h5>
      <time>{{ date | prettyDate }} - {{ content | emojiReadTime }}</time>

      <div class="content">
        {{ content | safe }}
      </div>

  </div>
</article>
