---
layout: base.njk
pageClass: macro
---

<article article class="article">
  <div class="container container--narrow flow">
      <h1>Macro layout page</h1>
      
      <div class="content">
        <p>Per {{ per }}</p>

        {% for macro in macros %}
          <p>{{macro.macro}}: {{ macro.amount }}</p>
        {% endfor %}

        {{ content | safe }}
      </div>
  </div>
</article>
