---
layout: base.njk
pageClass: recipe
---
<div id="progress-bar"></div>
<article class="article">
  <div class="container container--narrow flow">
      <h1>Recipe layout page</h1>
      
      <div class="content">
        calories: {{ calories }}
        {{ content | safe }}
      </div>
  </div>
</article>
